body{
    background-color: #E8CEBF;
    font-family: Arial, Helvetica, sans-serif;
}

#login-container{
    height: 75vh;
    width: 75vw;
    
    margin: auto;
}

#login-form{
    height: 50%;
    width: 50%;
    border: 2px lightgray solid;
    background-color: #DDAF94;
    margin: auto;
    margin-top: 10%;
}

.user-input{
    padding:2px;
    background-color: lightgrey;
}

.submit-button{
    color: white;
    background-color: lightblue;
}

.margin-auto{
    text-align: center;
}